{% extends "TripminuteAccueilBundle::base.html.twig" %}

{% block title %}TripMinute{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-lg-4"><span class="glyphicon glyphicon-globe"></span> Concept du site<br>
            <span>
                TripMinute est un site communautaire et participatif qui propose aux voyageurs des fiches de voyage prête à l'emploi.
            </span>
        </div>
        <div class="col-lg-4"><span class="glyphicon glyphicon-user"></span> Acheteurs de fiches<br>
            <span>
                Les acheteurs de fiche cibleront leur recherche grâce au moteur de recherche et ainsi pourront acheter le ou les fiches correspondantes à leurs besoin et bénéficier d'une fiche voyage prête à l'emploi.
            </span>
        </div>
        <div class="col-lg-4"><span class="glyphicon glyphicon-pencil"></span> Créateurs de fiche<br>
            <span>
                Les créateurs de fiche seront rémunérés pour leurs informations à chaque fois qu'une de leurs fiches sera achetée.
            </span>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-lg-8">
            <div class="jumbotron">
                <h3>Réussissez vos voyages en consultant ceux des autres !</h3>
                <p>...</p>
                <p><a class="btn btn-primary btn-lg" role="button">En savoir plus</a></p>
            </div>
        </div>
        <div class="col-lg-4">
            Connexion
        </div>
    {% endblock %}
